<!DOCTYPE html>
<html>
    <head>
        <h2> Your registration is almost complete, <%- user.name%> </h2>
        <h3> Please fill in the fields below to start using Diana! </h3>
    </head>
    <body>
        <form action="/sign-in/complete" method="POST">
            
            <input type="hidden" id="id_field" name="googleId" value="<%- user.gid %>">
            <input type="hidden" id='name_field' name="name" value="<%- user.name %>"> <br>
            <input type="hidden" id='surname_field' name="surname" value="<%- user.surname %>"> <br>
            <input type="hidden" id="email_field" name="email" value="<%- user.email %>"> <br>

            Sesso:
            <input type="text" id="sex_field" name="sex" required> <br>
            Birthdate:
            <input type="date" id="date_field" name="birthdate" required> <br>
            Birthplace:
            <input type="text" id="birth_place" name="birthplace" required> <br>
            Phone:
            <input type="text" id="phone_field" name="phone"> <br>
            Password:
            <input type="password" id="password_field" name="password" required> <br>
            Repeat Password:
            <input type="password" id="repeat_password_field" name="repeat_password" required> <br>

            <input type="submit" value="submit">
        </form>
    </body>
</html>